<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="d-flex align-items-center my-3 container flex-column">
    <h2 >Gratitude Journal</h2>
    </div>
     <div class="d-flex align-items-center container flex-column">
         <div class="card text-bg-light mb-3" style="max-width: 18rem;">
             <div class="card-header">Header</div>
             <div class="card-body">
                 <h5 class="card-title">Light card title</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             </div>
         </div>
    </div>
</body>
</html>