<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="d-flex align-items-center my-4 flex-column">
    <h2 class="mb-3">Gratitude Journal</h2>

<!--    add gratitude page button-->
<!--    <a th:href="@{/addGratitude}" class="btn btn-primary">Add Gratitude</a>-->

    <form th:action="@{/gratitudeInput}" method="get" th:object="${gratitudeInputObject}">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="gratitudeInput" class="col-form-label">Today you are grateful for</label>
        </div>
        <div class="col-auto">
            <input type="text" id="gratitudeInput" class="form-control" th:field ="*{gratitudeText}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
     <div class="d-flex align-items-center flex-column my-4">
         <div class="card text-bg-light mb-3" style="max-width: 18rem;" th:each="GratitudeData :${GratitudeDataList}">
             <div class="card-header" th:text="${GratitudeData.key}"></div>
             <div class="card-body">
                 <ol class="list-group list-group-numbered">
                     <li class="list-group-item" th:each="GratitudeText :${GratitudeData.value}" th:text="${GratitudeText}"></li>
                 </ol>
             </div>
         </div>
     </div>
</div>
</div>
</body>
</html>